//Colors
$color-primary: #a21202;
$color-primary-80:rgba(162, 18, 2, .80);
$color-primary-50:rgba(162, 18, 2, 0.5);
$color-secondary: #26363E;
$color-light: #f8f8f8;
$color-light-80:rgba(248, 248, 248, 0.8);
$color-light-50:rgba(248, 248, 248, 0.5);
$color-light-20:rgba(248, 248, 248, 0.2);

$color-dark: #0e1519;
$color-pop: #f16022;